/* line 4, /Users/old_mbp/Documents/Coding_Dojo_Workspace/Feedback_App/feedbackApp/app/assets/stylesheets/admins.css.scss */
.errors {
  color: red;
}

/* line 7, /Users/old_mbp/Documents/Coding_Dojo_Workspace/Feedback_App/feedbackApp/app/assets/stylesheets/admins.css.scss */
.successes {
  color: green;
}

/* line 10, /Users/old_mbp/Documents/Coding_Dojo_Workspace/Feedback_App/feedbackApp/app/assets/stylesheets/admins.css.scss */
.errors, .successes {
  padding: 0 0 10px 0;
}
/* line 5, /Users/old_mbp/Documents/Coding_Dojo_Workspace/Feedback_App/feedbackApp/app/assets/stylesheets/surveys.css.scss */
td > a {
  text-decoration: underline;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

