<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "Create Survey", "#" %></li>
      <li><%= link_to "Review Results", "#results" %></li>
    </ul>
  </div>
</nav>