<% if @all_surveys.any? %>
  <% if @all_surveys.count === 1%>
    <script>
      window.location.href = window.location.origin+"/meeting/"+"<%= @all_surveys.first.id %>";
    </script>
  <% end %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="active">
        <th>Title</th>
        <th>Name</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @all_surveys.each do |survey| %>
        <tr>
          <td><%= link_to "#{survey.title}", "/meeting/#{survey.id}" %></td>
          <td><%= survey.author %></td>
          <td>expires in <%= distance_of_time_in_words(Time.now, survey.created_at+30.minutes, include_seconds: true) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<p>No surveys have been created at the moment.</p> 
<% end %>