// Place all the styles related to the SurveyResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-tooltip {
	padding: 5px;
	position: absolute;
	z-index: 9999;
	max-width: 500px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
  	white-space: pre-wrap;
  	font-family: Arial;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
body .ui-tooltip {
	border-width: 2px;
}